{% extends cms_frontend_template %}

{% block metatags_description %}
{% if metaDescription is defined and metaDescription is not null %}
{% spaceless %}
{{ metaDescription }}
{% endspaceless %}
{% endif %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    {{ content|raw }}
{% endblock %}
