{% extends cms_backend_template %}

{% if cms_content_form_theme is not empty %}
    {% form_theme cmsContentForm cms_content_form_theme %}
{% endif %}

{% block title %}{{ parent() }} :: {{ 'rocket.cms.type.title.edit'|trans }}{% endblock %}

{% block content %}
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon edit"></i><span class="break"></span>{{ 'rocket.cms.type.edit'|trans }}</h2>
        </div>
        <div class="box-content">
            <form action="{{ path('rocket_cms_cmstype_update', { 'id': entity.id }) }}" class="form-horizontal" method="post" {{ form_enctype(edit_form) }} novalidate>
                {{ form_widget(edit_form) }}
                <div class="form-actions">
                    <div class="btn-overlay">
                        <a class="btn btn-primary" href="{{ path('rocket_cms_cmstype_index') }}">{{ 'rocket.cms.global.back'|trans }}</a>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ 'rocket.cms.global.save'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
